.pageContainer {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.sidebar {
  padding: 20px;
  background-color: #fdfbf9;
}

.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  background-color: #f4cba7;
  color: black;
  border: none;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar button:hover {
  background-color: #edbb99;
}

.mainContent {
  padding: 20px;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.book-item {
  border: 1px solid #ddd;
  padding: 10px;
}

.book-link {
  text-decoration: none;
  color: inherit;
}

.img-wrapper {
  overflow: hidden;
}

.book-img {
  width: 100%;
  height: auto;
}

.content {
  margin-top: 10px;
}

@media (min-width: 769px) {
  .pageContainer {
    flex-direction: row;
  }

  .sidebar {
    flex: 0 0 20%;
    order: -1;
  }

  .mainContent {
    flex: 1;
  }
}
