.pageContainer {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #fdfbf9;
  padding: 10px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  background-color: #f4cba7;
  color: black;
  border: none;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar button:hover {
  background-color: #edbb99;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
}

.bookCard {
  margin-right: 20px; /* Adjust the gap between book cards */
}

.bookImg {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}
