/* HomePage.css */
.home-page {
  margin: 0 auto;
  /* max-width: 90%; */
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 123px;
  align-items: center;
  padding: 0 224px;
}

.imgSection1 {
  max-width: 100%;
}

.section1Content {
  max-width: 100%;
}

.section1 {
  background-color: #f5cba7;
}

.section1Content h1 {
  font-size: 35px;
}

.section1Content p {
  font-size: 25px;
}

.grid2Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  grid-gap: 20px; /* Adjust the gap between features */
}

.feature {
  display: grid;
  grid-template-rows: auto auto auto; /* Three rows with automatic height */
  text-align: center; /* Center the content within each feature */
}

.featureTitle {
  margin-bottom: 10px; /* Add some spacing below the feature title */
}

.featureImg {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

.featureText {
  text-align: justify; /* Justify the feature text */
}

.section3 {
  background-color: #f5cba7;
}
